<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="bootstrap.properties" />
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="GRAYLOG2" class="com.github.pukkaone.gelf.logback.GelfAppender">
        <graylogHost>${GRAYLOG_PROTOCOL:-udp}:${GRAYLOG_SERVER:-192.168.122.230}</graylogHost>
        <graylogPort>${GRAYLOG_PORT:-12201}</graylogPort>
        <originHost>${HOST_IP:-dev},${RANCHER_NET_IP:-dev}</originHost>
        <levelIncluded>true</levelIncluded>
        <locationIncluded>false</locationIncluded>
        <loggerIncluded>true</loggerIncluded>
        <markerIncluded>true</markerIncluded>
        <mdcIncluded>true</mdcIncluded>
        <threadIncluded>false</threadIncluded>
        <facility>gelf-java</facility>
        <additionalField>application=${spring.cloud.config.name:-undefined}</additionalField>
        <additionalField>environment=${CONFIG_LABEL:-dev}</additionalField>
        <marshaller	class="com.github.pukkaone.gelf.logback.DefaultGelfMessageFactory">
            <fullMessagePattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</fullMessagePattern>
        </marshaller>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="GRAYLOG2" />
    </root>
</configuration>